<h2 class="page-header">Dashboard</h2>
<h4>Welcome to your Dashboard!</h4>
<br>
<div>
    <div class="bd-example">
    <table class="table table-striped">
      <tbody>
      <tr id = "border" >
        <th scope="row">1</th>
        <td colspan="2">Go to <a routerLink = "/bike">"ADD A BIKE"</a> to add a bike to the collection</td>
      </tr>
      <tr  id = "border" class = "second">
        <th scope="row">2</th>
        <td colspan="2">Go to <a routerLink = "/bike-list">"ALL BIKES"</a> to see all bikes in the the collection</td>
      </tr>
      <tr  id = "border">
        <th scope="row">3</th>
        <td colspan="2">Go to <a routerLink = "/users">"USERS"</a> to see all users in the user collection</td>
      </tr>
      </tbody>
    </table>
    </div>