p{
    color: black;
    font-weight: bold;
}
#border{
    border-style: solid;
    border-color:black;
    color: black;
    color: black;
    font-weight: bold;
}
.second{
    background-color: #7D10F8;
}