<body>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  />
  <footer id="footer" class="footer-distributed">
    <div class="footer-right">
      <a href="https://www.facebook.com/profile.php?id=100005045385944"
        ><i class="fa fa-facebook"></i
      ></a>
      <a href="https://www.linkedin.com/in/johnathon-crawford/"
        ><i class="fa fa-linkedin"></i
      ></a>
      <a href="https://github.com/S00190873"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-left">
      <p>Web Programming 2 Final Project</p>
      <br />
      <p>Made by Johnathon Mc Grory &copy; 2020</p>
    </div>
  </footer>
  <!-- Demo ads. Please ignore and remove. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.tutorialzine.com/misc/enhance/v2.js" async></script>
</body>
