<div class="jumbotron text-center " id = "border">
  <h1>Web Programming 2</h1>
  <p class="lead">Johnathon Mc Grory Project Part 3</p>
</div>
<div class="row">
  <div id = "black" class="col-md-4">
    <h3 id = "black">Express Backend</h3>
    <p>A Node.js/Express server using Mongoose to organize models and query the database</p>
  </div>
  <div class="col-md-4" id = "border">
    <h3>Angular</h3>
    <p>Angular Client Side Front End</p>
  </div>
  <div id = "black"class="col-md-4">
    <h3 id = "black">JWT Tokens</h3>
    <p>Fully featured authentication using JSON web tokens. Register and then Login and store user data</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4" id = "border">
    <h3>To Register => </h3>
    <h4>Enter the following:</h4>
    <p><strong>Name:</strong> Anything you like</p>
    <p><strong>Username:</strong> Anything you like, as long as it is not currently in use</p>
    <p><strong>Email:</strong> Any Valid Email you like, as long as it is not already associated with an account</p>
    <p><strong>Password:</strong> Must be at least 8 characters, have one special character, and one digit</p>
  </div>
  <div id = "black" class="col-md-4">
    <h3 id = "black" >To Login => </h3>
    <p>Enter the following</p>
    <p><strong>Username:</strong>The Username you chose when you registered</p>
    <p><strong>Password:</strong>The Password you chose when you registered</p>
    <p><strong>**HINT**:</strong>A working example password for testing this is <span>"iloveangular11!"</span>. Copy and paste if you like!</p>
    <p>(Don't forget the Exclamation Mark!))</p>
  </div>
  <div class="col-md-4" id = "border">
    <h3>Auth Guards</h3>
    <p>Links to certain routes are invisible to the logged out user</p>
    <p>Try to access these routes without logging in (through the browser search bar) and you will be redirected to the login page</p>
  </div>
</div>