<div class="jumbotron text-center ">
  <h1>Web Programming 2</h1>
  <p class="lead">Johnathon Mc Grory Project Part 3</p>
</div>
<div class="row">
  <div id = "black" class="col-md-4">
    <h3 id = "black">Express Backend</h3>
    <p>A Node.js/Express server using Mongoose to organize models and query the database</p>
  </div>
  <div class="col-md-4" id = "border">
    <h3>Angular</h3>
    <p>Angular Client Side Front End</p>
  </div>
  <div id = "black"class="col-md-4">
    <h3 id = "black">JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div>